<div li-block="_Aqua Titel" li-block:category="Story" {{ block.shopify_attributes }}>
                    <h2>
{{ block.settings.text_uberschrift }}
</h2>
                </div> {% schema %} {
    "name": "Aqua Titel",
    "settings": [
        {
            "id": "text_uberschrift",
            "type": "text",
            "label": "\u00dcberschrift",
            "default": "AQUA MORA UND DER WIRKSTOFF HYROXYTHROSOL"
        }
    ],
    "presets": [
        {
            "name": "Aqua Titel",
            "category": "Story",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}