<div class="lh_ba_half" li-block="_BA Foto" {{ block.shopify_attributes }}>
                    {% if block.settings.image_bild %}
{{ block.settings.image_bild | image_url: width: 1000 | image_tag: loading: 'lazy' }}
{% else %}
<img src="{{ 'platzhalter.svg' | asset_url }}" alt="" loading="lazy">
{% endif %}
                    <span class="lh_ba_label">
{{ block.settings.text_beschriftung }}
</span>
                </div> {% schema %} {
    "name": "BA Foto",
    "settings": [
        {
            "id": "image_bild",
            "type": "image_picker",
            "label": "Bild"
        },
        {
            "id": "text_beschriftung",
            "type": "text",
            "label": "Beschriftung",
            "default": "Before"
        }
    ],
    "presets": [
        {
            "name": "BA Foto",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}