<div class="lh_hero_block" li-block="_Hero Titel" li-block:category="Hero" {{ block.shopify_attributes }}>
                    <h1 class="lh_heading_hero">
{{ block.settings.text_hero_uberschrift }}
</h1>
                </div> {% schema %} {
    "name": "Hero Titel",
    "settings": [
        {
            "id": "text_hero_uberschrift",
            "type": "text",
            "label": "Hero \u00dcberschrift",
            "default": "Nat\u00fcrliche Lippenpflege, sch\u00fctzt und pflegt, n\u00e4hrt und regeneriert, sanft wirksam"
        }
    ],
    "presets": [
        {
            "name": "Hero Titel",
            "category": "Hero",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}