<div li-block="_USP Liste" li-block:category="USP Liste" {{ block.shopify_attributes }}>
                    <ul class="lh_pdp_bullets" li-content-for-theme-blocks="">
{% content_for 'blocks' %}
</ul>
                </div> {% schema %} {
    "name": "USP Liste",
    "blocks": [
        {
            "type": "_usp-punkt"
        },
        {
            "type": "@app"
        }
    ],
    "settings": [],
    "presets": [
        {
            "name": "USP Liste",
            "category": "USP Liste",
            "blocks": [
                {
                    "type": "_usp-punkt"
                }
            ]
        }
    ],
    "tag": null
} {% endschema %}