<div class="lh_section_head lh_why_section_head" li-block="_Warum Kopf" li-block:category="Kopf" {{ block.shopify_attributes }}>
                    <p class="lh_kicker">
{{ block.settings.text_uberschrift }}
</p>
                </div> {% schema %} {
    "name": "Warum Kopf",
    "settings": [
        {
            "id": "text_uberschrift",
            "type": "text",
            "label": "\u00dcberschrift",
            "default": "Das st\u00e4rkste Antioxidans aus Aqua Mora. 100% nat\u00fcrliche Bestandteile"
        }
    ],
    "presets": [
        {
            "name": "Warum Kopf",
            "category": "Kopf",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}