<div class="lh_pdp_rating" li-block="Bewertung" li-block:category="Kopfbereich" {{ block.shopify_attributes }}>
                    <div class="lh_pdp_stars" aria-hidden="true"><span>★</span> <span>★</span> <span>★</span> <span>★</span> <span>★</span></div>
                    <span class="lh_pdp_rating_num">
{{ block.settings.text_rating_zahl }}
</span>
                     
                    <a class="lh_pdp_rating_link" href="#reviews" href="#reviews">
{{ block.settings.text_reviews_link }}
</a>
                </div> {% schema %} {
    "name": "Bewertung",
    "settings": [
        {
            "id": "text_rating_zahl",
            "type": "text",
            "label": "Rating Zahl",
            "default": "4,9"
        },
        {
            "id": "text_reviews_link",
            "type": "text",
            "label": "Reviews Link",
            "default": "Bewertungen lesen"
        }
    ],
    "presets": [
        {
            "name": "Bewertung",
            "category": "Kopfbereich",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}