<div class="lh_pdp_delivery" li-block="Lieferversprechen" li-block:category="Kaufzone" {{ block.shopify_attributes }}>
                    
                    
                    <span class="lh_pdp_delivery_dot" aria-hidden="true"></span>
                    
                    
                    <div class="lh_pdp_delivery_copy"> {{ block.settings.richtext_lieferung_text }} </div>
                    
                  
                </div> {% schema %} {
    "name": "Lieferversprechen",
    "settings": [
        {
            "id": "richtext_lieferung_text",
            "type": "richtext",
            "label": "Lieferung Text",
            "default": "<p>Lieferung in 1\u20133 Werktagen. Bestellung innerhalb der angezeigten Zeit<\/p>"
        }
    ],
    "presets": [
        {
            "name": "Lieferversprechen",
            "category": "Kaufzone",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}