<div li-block="Produktname" li-block:category="Kopfbereich" {{ block.shopify_attributes }}>
                    
                    
                    <h1 class="lh_pdp_title heading-style-h2" li-object:text="product.title">
{{ product.title }}
</h1>
                    
                  
                </div> {% schema %} {
    "name": "Produktname",
    "settings": [],
    "presets": [
        {
            "name": "Produktname",
            "category": "Kopfbereich",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}