<div class="padding-global padding-section-medium"><div class="container-large"><div class="default_wrapper"><div class="padding-bottom padding-medium"><h1 class="heading-style-h1" li-object="page.title">{{ page.title }}</h1></div><div class="text-rich-text w-richtext" li-object="page.content">{{ page.content }}</div></div></div></div> {% schema %} {
    "tag": "section",
    "name": "Default",
    "class": "section_default",
    "presets": [
        {
            "name": "Default",
            "category": "Liquify",
            "blocks": []
        }
    ],
    "enabled_on": {
        "templates": [
            "page"
        ]
    }
} {% endschema %}