<div class="padding-global padding-section-medium">
          <div class="container-large">
            <div class="hide w-embed li-custom">{{ section.settings.html_trustpilot_embed }} </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "PDP Trustpilot",
    "class": "lh_pdp_section lh_pdp_trustpilot",
    "settings": [
        {
            "id": "html_trustpilot_embed",
            "type": "html",
            "label": "Trustpilot Embed"
        }
    ],
    "presets": [
        {
            "name": "PDP Trustpilot",
            "category": "Produktseite",
            "blocks": []
        }
    ]
} {% endschema %}