<div class="padding-global padding-section-medium">
          <div class="container-large lh_pdp_social_inner">
            <p class="lh_pdp_social_kicker">
{{ section.settings.text_social_kicker }}
</p>
            <div class="lh_pdp_social_links" li-content-for-theme-blocks="">
{% content_for 'blocks' %}
</div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "PDP Social",
    "class": "lh_pdp_section lh_pdp_social",
    "blocks": [
        {
            "type": "_social-link"
        },
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "id": "text_social_kicker",
            "type": "text",
            "label": "Social Kicker",
            "default": "Folge uns"
        }
    ],
    "presets": [
        {
            "name": "PDP Social",
            "category": "Produktseite",
            "blocks": [
                {
                    "type": "_social-link"
                },
                {
                    "type": "_social-link"
                },
                {
                    "type": "_social-link"
                }
            ]
        }
    ]
} {% endschema %}